:root{
    --head_text_color: rgb(51, 161, 255);
    --white:white;
    --background-color:black;
    --background-jumbotron:rgb(226, 222, 222);
}
body{
    overscroll-behavior: none;
    margin: 0;
    overflow-x: hidden;
}
.head{
    padding-top: 12px;
    display: flex;
    width: 100%;
    height: 50px !important;
}
.logo{
    position: absolute;
    left:5%;
}
.head_ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    position:absolute;
    right:10px;
    font-weight: bold;
    color:var(--head_text_color, lightblue);
}
.head_ul>li{
    padding-left:10px;
    padding-right:10px;
}

.head_ul>li:hover{
    color: black;
    cursor: pointer;
}
.firstImgDiv{
    padding-top: 10px;
}
.firstImgDiv > img{
    width: 100%;
}
.watchNow, .orderNow, .Ford_Mustang_spec, .gallery{
    width: 150px;
    padding: 7px 20px;
    border:2px solid var(--white, white);
    border-radius: 50px;
    font-size:1.5em;
    color:var(--white, white);
    text-align:center;
    height:fit-content;
}
.watchNow{
    position: relative;
    left: 10%;
    bottom: 70px;
}
.watchNow:hover, .orderNow:hover, .Ford_Mustang_spec:hover, .gallery:hover{
    cursor: pointer;
    color:var(--head_text_color, blue);
    background: var(--white, white);
    transform:scale(1.1);
    transition-duration: 0.5s;
}
.cars{
    padding-top: 12px;
}
.Ford_Mustang{
    background-color: var(--background-color);
}
.video{
    width: 95%;
    height:85%;
}
.video[poster]{
    width:90%;
    height:85%;
}
.Ford_Mustang_body{
    display: grid;
    grid-template-columns:45% 55%;
    padding-top:2%;
}
.mustang_gallery>img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.buttons_gallery{
    display: grid;
    grid-template-rows:25% 75%;
}

.buttons{
    display:grid;
    grid-template-columns: 33% 35% 29%;
    position: relative;
    top: 30%;
}
.buttons>.orderNow{
    position: absolute;
    right:5%;   
}
.mustang_gallery{
    display: grid;
    padding-left: 0%;
    grid-template-columns: 50% 50%;
    padding-top: 2%;
    padding-bottom: 11%;
}
.mustang_img1{
    padding: 7% 0% 0% 1%;
    width: 95%;
    height:78%;
}
.mustang_img2{
    padding: 7% 1% 0% 0%;
    width: 95%;
    height:78%;
}

#options{
    padding-top: 60px;
}
.options{
    padding: 1% 5%;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    column-gap:5%;
}
.opt1_img, .opt2_img, .opt3_img{
    width: 90%;
}
.opt{
    background-color: var(--background-jumbotron);
    display: flex;
    flex-direction:column;
    align-items: center;
}
.opt1_details, .opt2_details, .opt3_details{
    padding-left: 5%;
    padding-right: 5%;
}
.opt_blue{
    color:var(--head_text_color);
    display: grid;
    grid-template-columns:50% 50%;
}


a{
    color: var(--head_text_color);
    text-decoration: none;
}
.footer{
    padding: 20px;
    background: var(--background-jumbotron);
    display: flex;
    column-gap: 2%;
    justify-content:end;
}
@media(max-width:1133px){
    .head_logo{

    }
    .head_ul{
        display:none;
    }
    .mustang_gallery>*{
        display:none;
    }
    .watchNow, .orderNow, .Ford_Mustang_spec, .gallery{
        width: 150px;
        padding: 4px 10px;
        border:2px solid var(--white, white);
        border-radius: 50px;
        font-size:1em;
        color:var(--white, white);
        text-align:center;
        height:fit-content;
    }
    .watchNow{
        position: relative;
        left: 50%;
        bottom: 50px;
    }
    .buttons{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        position: relative;
        top: 30%;
        left:10%;
        row-gap: 2px;
    }
    .buttons>.orderNow{
        position:static;
    }
    .options{
        padding: 1% 5%;
        display:grid;
        grid-template-columns:none;
        grid-template-rows: auto auto auto;
        column-gap:5%;
        font-size: 15px;
    }
    .footer{
        padding: 10px;
        background: var(--background-jumbotron);
        display: flex;
        column-gap: 2%;
        justify-content:end;
        font-size: 8px;
    }
}